@import "tailwindcss";
@import "@recap/tokens";

@config "../../tailwind.config.js";

@font-face {
  font-family: "IBM Plex Sans KR";
  src: url("../assets/fonts/IBMPlexSansKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans KR";
  src: url("../assets/fonts/IBMPlexSansKR-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans KR";
  src: url("../assets/fonts/IBMPlexSansKR-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans KR";
  src: url("../assets/fonts/IBMPlexSansKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans KR", system-ui, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
